Source: l3overlay
Section: unknown
Priority: optional
Maintainer: Callum Dickinson <callum.dickinson@catalyst.net.nz>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/fincham/l3overlay
X-Python3-Version: >= 3.4

Package: l3overlay
Architecture: all
Depends: iproute2, ${python3:Depends}
Recommends: vlan, strongswan
Description: Create overlay network between sites across the Internet
 l3overlay is a tool used to build a MPLS-like VRF network between nodes across 
 the Internet.
 .
 It uses a combination of network namespaces, gretap tunnels (with optional
 IPsec encapsulation for security) to create an "overlay" over the node's
 Internet connection.
